{% extends 'base.html' %}
{% load i18n static tz %}


{% block content %}

	<div class="container text-center">

		{% if meetings_now %}

			<h4 class="mt-4">Şu anda oynanan oyunlar</h4>

			<p class="mt-2">

				{% for meeting in meetings_now %}

					<p class="mt-2">
						<a href="{{ meeting.get_absolute_url }}">
							{{ meeting }} @ {{ meeting.time }}
						</a>
					</p>

				{% endfor %}

			</p>

		{% endif %}

		<h4 class="mt-4">Yakında başlayacak oyunlar</h4>

		{% for meeting in upcoming_games %}

			<p class="mt-2">
				<a href="{{ meeting.get_absolute_url }}">
					{{ meeting }} @ {{ meeting.time }}
				</a>
			</p>

		{% empty %}

			<p class="mt-2 text-muted">
				Planlanmış oyun bulunmuyor
			</p>

		{% endfor %}


		{% if meetings_user %}

			<h4 class="mt-4">Buluşmaların</h4>

			<p class="mt-2">

				{% for meeting in meetings_user %}

					<p class="mt-2">
						<a href="{{ meeting.get_absolute_url }}">
							{{ meeting }} @ {{ meeting.time }}
						</a>
					</p>

				{% endfor %}

			</p>

		{% endif %}


		{% if upcoming_tournaments %}

			<h4 class="mt-4">Turnuvalar</h4>

			<p class="mt-2">

				{% for meeting in upcoming_tournaments %}

					<p class="mt-2">
						<a href="{{ meeting.get_absolute_url }}">
							{{ meeting }} @ {{ meeting.time }}
						</a>
					</p>

				{% endfor %}

			</p>

		{% endif %}


		{% if upcoming_events %}

			<h4 class="mt-4">Etkinlikler</h4>

			<p class="mt-2">

				{% for meeting in upcoming_events %}

					<p class="mt-2">
						<a href="{{ meeting.get_absolute_url }}">
							{{ meeting }} @ {{ meeting.time }}
						</a>
					</p>

				{% endfor %}

			</p>

		{% endif %}


		<p class="mt-4">
			Sen de bir oyun başlatabilirsin!

			<span class="d-block my-1">
				<a href="{% url 'meeting_create' %}" class="btn btn-success">
					Oyun başlat
				</a>
			</span>
		</p>


		<h5 class="mt-4">Kids Window Hakkında</h5>

		<div class="row">

			<p class="mt-2 w-md-50 mx-auto">
				Kids Window, çocukların online video buluşmalarıyla bir araya gelerek oyun oynamaları için açık ve ücretsiz bir platformdur.
			</p>

		</div>

		<p class="mt-2">

			<a href="{% url 'docs_details' %}">Detaylar</a>

		</p>

		{% if user.is_anonymous %}
			<br>
			<p class="mt-4 text-center">

				<a href="{% url 'auth' %}">Giriş yap</a>
				|
				<a href="{% url 'signup' %}">Üye ol</a>

			</p>
		{% endif %}


	</div>


{% endblock %}
