{% extends "base.html" %}
{% load i18n crispy_forms_tags i18n static %}


{% block title %}{{ meeting }} @ {{ meeting.time }} - {{ block.super }}{% endblock %}
{% block description %}{{ meeting }} @ {{ meeting.time }}{% endblock %}


{% block content %}


<div class="container">

    <div class="text-center">

        <h1 class="my-4">
            {% if meeting.type == 2 %}
                {% trans "Community meeting" %}
                <small class="text-muted d-block my-2">
                    {{ meeting.time }}
                </small>
            {% else %}
                {% blocktrans %}{{ meeting }} session{% endblocktrans %}
                <small class="text-muted d-block my-2">
                    {{ meeting.time }}
                </small>
            {% endif %}
        </h1>

    </div>

    <br>

    {% if meeting_status != 'PASSED' %}

        <p class="text-center">

            {% if meeting.notes %}

                <div class="lead text-muted text-center mb-4">

                    {{ meeting.notes }}

                </div>

            {% endif %}

            <div id="meet" class="text-center">
            </div>

            <p class="form-text text-muted mt-4">
                Aşağıdaki bağlantı ile yeni katılımcı davet edebilirsin
            </p>
            <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="oi oi-link-intact"></span></span></span></span>
                </div>
                <input type="text" class="form-control" value="https://kidswindow.online{{ meeting.get_absolute_url }}" onClick="this.setSelectionRange(0, this.value.length)">
            </div>

        </p>

    {% else %}

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="alert alert-warning my-4" role="alert">
                    <strong>Buluşma sona ermiş!</strong>
                </div>
            </div>
        </div>

        {% if meeting_next %}
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="alert alert-success mb-3 show" role="alert">
						<strong>
                            Gelecek {{ meeting }} buluşması:
							<a href="{{ meeting.get_absolute_url }}">{{ meeting.time }}</a>
                            <small>({{ meeting_next.time|timeuntil }} sonra)</small>
						</strong>
					</div>
				</div>
			</div>
        {% endif %}

    {% endif %}

</div>


{% endblock %}


{% block head %}
    <script src='https://meet.jit.si/external_api.js'></script>
{% endblock %}


{% block js %}

<script>
    const domain = 'meet.jit.si';
    const options = {
        roomName: '{{ meeting.slug }}',
        width: '100%',
        height: 600,
        parentNode: document.querySelector('#meet'),
        interfaceConfigOverwrite: {
            TOOLBAR_BUTTONS: [
                'microphone', 'camera', 'closedcaptions', 'desktop', 'fullscreen',
                'fodeviceselection', 'hangup', 'profile', 'chat', 'recording',
                'livestreaming', 'etherpad', 'sharedvideo', 'settings', 'raisehand',
                'videoquality', 'filmstrip', 'feedback', 'stats', 'shortcuts',
                'tileview', 'videobackgroundblur', 'download', 'help', 'mute-everyone', 'security'
            ]
        }
    };
    const api = new JitsiMeetExternalAPI(domain, options);
    api.executeCommand('toggleLobby', true);
</script>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>

{% endblock %}
