{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}


{% block content %}

	<div class="container my-4">

        <h2 class="text-center">Kayıt ol</h2>

        <div class="text-center">
            <p class="mt-4 mb-4 text-muted">
                Hesabın var mı?
                <a href="{% url 'auth' %}?next={{ request.GET.next }}">
                    Giriş yap
                </a>
            </p>
        </div>

        <div class="row">

            <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">

                <form method="post">

                    <input type="hidden" name="next" value="{{ request.GET.next }}">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary">Kayıt ol</button>

                </form>

            </div>

        </div>

    </div>

{% endblock %}
